*{
    padding: 0px;
    margin: 0px;
}

html , body , .stdtar-home{
    width: 100%;
    height: 100%;
}

.stdtar-home .stdtar-content{
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.stdtar-home .stdtar-content .category{
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #EEEEEE;
    border-radius: 5px;
}



.stdtar-home .stdtar-content .category>div:first-of-type{
    height: 30px;
    /*width: 100%;*/
    font-size: 15px;
    color: #757575;
    font-family: '微软雅黑';
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 30px;
    background-color: #EEEEEE;
    border-left: 5px solid #3A76D8;
}

.stdtar-home .stdtar-content .category>div:first-of-type span{
    margin-left: 20px;
    color: #3A76D8;
}

.stdtar-home .stdtar-content .row{
    width: 100%;
    height: 450px;
    margin-top: 2%;
}

.stdtar-home .stdtar-content .row:last-of-type{
    margin-bottom: 2%;
}

.stdtar-home .stdtar-content .title{
    height: 300px;
    width: 100%;
    background-color: #FFFFFF;
    line-height: 28px;
}

.stdtar-home .stdtar-content .title span{
    font-size: 15px;
    margin-left: 20px;
    color: #292929;
    font-family: '微软雅黑';
    font-weight: 600;
}

.stdtar-home .stdtar-queryConditions{
    height: 80px;
    line-height: 80px;
    width: 100%;
    /*border: 1px solid #D6D6D6;*/
    background-color: #EEEEEE;
    font-size: 10px;
    /*position: sticky;*/
    /*top: 0px;*/
}

.stdtar-home .stdtar-queryConditions>div{
    float: left;
}

.stdtar-home .stdtar-queryConditions>div:first-of-type{
    margin-left: 20px;
}

.stdtar-home .stdtar-queryConditions input{
    margin-right: 12px;
    height: 26px;
    width: 160px;
    border: 1px solid #484848;
    border-radius: 3px;
}

.stdtar-home .stdtar-queryConditions input[type='month']{
    width: 130px;
}

.stdtar-home .stdtar-queryConditions input[class="industry"]:hover{
    cursor: pointer;
}

.stdtar-home .stdtar-queryConditions select{
    margin-right: 12px;
    height: 26px;
    width: 100px;
    border: 1px solid #484848;
    border-radius: 3px;
}

.stdtar-home .stdtar-queryConditions button{
    padding: 0px 10px;
    background-color: #3A76D8;
    border: 1px solid #3A76D8;
    border-radius: 3px;
    color: #F8F8F8;
    height: 26px;
    width: 60px;
    letter-spacing: 3px;
}

.stdtar-home .stdtar-queryConditions button:first-of-type{
    margin-right: 12px;
}

.stdtar-home .stdtar-queryConditions button:hover{
    cursor: pointer;
    background-color: #2B579A;
    color: #F8F8F8;
}

.stdtar-home .row .stdtar-curve{
    width: 30%;
    height: 450px;
    float: left;
    margin-left: 2.5%;
}


.stdtar-home .row .stdtar-curve>div{
    border-radius: 5px;
    width: 100%;
    height: 450px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(61,61,61,0.3);
    transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
}


.stdtar-home .row .stdtar-curve>div:hover{
    box-shadow: 0px 0px 10px rgba(61,61,61,0.5),0px 0px 8px rgba(150,150,150,0.3),0px 0px 5px rgba(200,200,200,0.2);
}


.stdtar-home .row .stdtar-curve>div span{
    display: block;
    height: 30px;
    width: 100%;
    font-size: 15px;
    color: #757575;
    font-family: '微软雅黑';
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 30px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
}

.stdtar-home .row .stdtar-curve>div .con{
    /*margin-top: 50px;*/
    height: 400px;
    width: 100%;
}

hr{
    width: 94%;
    margin-left: 3%;
    border: 0.5px dashed #D3D3D3;
}

.stdtar-home .row .stdtar-curve>div>div:last-of-type{
    float: right;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
}

.stdtar-home .row .stdtar-curve>div>div>div{
    height: 200px;
    width: 100%;
}

.stdtar-home .row .stdtar-curve>div>div>div:first-of-type{
    margin-right: 4%;
}


.stdtar-queryConditions .selectionPanel{
    display: none;
    width: 160px;
    height: 80px;
    background-color: #F8F8F8;
    border: 1px solid #547576;
    z-index: 99;
    position: relative;
    overflow: auto;
    left: 37px;
}

.stdtar-queryConditions .selectionPanel ul{
    list-style-type: none;
}

.stdtar-queryConditions .selectionPanel ul li{
    padding: 5px 5px;
}

.stdtar-queryConditions .selectionPanel ul li:hover{
    cursor: pointer;
    backgroup-color: #81CBCE;
}

.stdtar-queryConditions .selectionPanel ul li span{
    font-size: 13px;
}


/** 选择面板 **/
.selectionPanelIndustry{
    position:fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.6);/*设置背景透明*/
    display: none;
    font-size: 14px;
}

.selectionPanelIndustry .table{
    position:absolute;
    z-index: 500;
    top: 100px;
    width: 500px;
    height: 550px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #464646;
}

.selectionPanelIndustry .table .title i{
    font-size: 16px;
    color: #C86A6A;
    margin-left: 365px;
}

.selectionPanelIndustry .table .title i:hover{
    font-size: 18px;
    color: #B14141;
}

.selectionPanelIndustry .table .condition{
    overflow: auto;
    width: 100%;
    height: 480px;
}

.selectionPanelIndustry .table .condition ul{
    list-style-type: none;
    margin-left: 35px;
}

.selectionPanelIndustry .table .condition ul li{
    min-height: 30px;
    line-height: 30px;
}

.selectionPanelIndustry .table .condition ul li div:hover{
    cursor: pointer;
    color: #547576;
}


.selectionPanelIndustry .table .condition ul li div>i{
    margin-right: 10px;
}

.selectionPanelIndustry .table .foot{
    width: 100%;
    height: 41px;
    line-height: 41px;
}

.selectionPanelIndustry .table .foot button{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #75A2A5;
    background-color: #75A2A5;
    color: #F8F8F8;
    margin-left: 380px;
}

.selectionPanelIndustry .table .foot button:hover{
    background-color: #5E8586;
    color: #F8F8F8;
}

.selectionPanelIndustry .table .title{
    height: 29px;
    border-bottom: 1px solid #BCBCBC;
}

.selectionPanelIndustry .table .title span{
    line-height: 35px;
    margin-left: 20px;
    color: #547576;
}


.tool{
    width: 20px;
    height: 20px;
    float: right;
    text-align: center;
    line-height: 15px;
    color: #FFFFFF;
    transition: color 1s;
    -webkit-transition: color 1s;
}
.tool:hover{
    cursor: pointer;
}


.window{
    width: 0%;
    height: 0%;
    background-color: rgba(30, 30, 30, 0.3);
    position: fixed;
    top: 0px;
    z-index: 100;
    transition: width 0.8s, height 0.8s;
    -webkit-transition: width 0.8s, height 0.8s;
}

.window .content{
    width: 0%;
    height: 0%;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 5%;
    transition: width 1s, height 1s;
    -webkit-transition: width 1s, height 1s;
    border-radius: 5px;
}

.window .content span{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: block;
    height: 30px;
    width: 100%;
    font-size: 15px;
    color: #757575;
    font-family: '微软雅黑';
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    background-color: #EEEEEE;
}

.window .content .containerBig{
    width: 0%;
    height: 0%;
}