*{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

.panl{
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.title{
    height: 29px;
    border-bottom: 1px solid #BCBCBC;
}

.title>span{
    line-height: 35px;
    margin-left: 20px;
    color: #547576;
}

.content{
    margin-top: 20px;
    margin-left: 50px;
}

.content .menu{
    width: 1000px;
    height: 36px;
}

.content .menu nav{
    float: left;
    border: 1px solid #BCBCBC;
    padding: 8px 18px;
    background-color: #ECECEC;
    color: #2B2B2B;
}

.content .menu nav:hover{
    color: #75A2A5;
    cursor: pointer;

}

.content .menu nav:first-of-type{
    border-top-left-radius: 3px;
    border-bottom: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #75A2A5;
}

.content .menu nav:last-of-type{
    border-top-right-radius: 3px;
}

.content .data{
    width: 1000px;
    border: 1px solid #BCBCBC;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.content .data .dataType table{
    /*width: 700px;*/
	margin: 0 auto;
}

.content .data .dataType tr td , .public td{
    height: 60px;
    text-align: right;
    position: relative;
}

.content .data .dataType tr td:nth-child(1){
	max-width: 200px;
}

.content .data .dataType tr td:nth-child(3){
    max-width: 200px;
	padding-left: 50px;
}

.content .data .dataType tr td[class^="sun"]{
	color: #B14141;
}

.content .data .dataType tr td[class^="sun"] input{
    color: #B14141;
}


.content .data .dataType input{
    width: 190px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #5E8586;
    padding-left: 5px;
}

.public table{
    margin: 50px;
}

.public td input{
    width: 130px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #5E8586;
    padding-left: 5px;
}

.public td input[class = "companyName"]{
    width: 190px;
}

.content .data .dataType hr{
	margin: 0 auto;
	width: 900px;
	border-top: 1px dashed #547576;
}

.content .data button{
    width: 100%;
    height: 30px;
    background-color: #75A2A5;
    border: 1px solid #75A2A5;
    border-radius: 3px;
    color: #FFFFFF;
}

.content .data .dataType{
    display: none;
}

.content .data .dataType:first-of-type{
    display: block;
}


.public .selectionPanel{
    overflow: auto;
    display: none;
    width: 195px;
    height: 80px;
    background-color: #F8F8F8;
    border: 1px solid #547576;
    position: absolute;
    z-index: 100;
}

.public .selectionPanel ul{
    list-style-type: none;
    /*min-width: 300px;*/
}


.public .selectionPanel ul li{
    text-align: left;
    font-size: 12px;
    padding: 5px 5px;
}

.public .selectionPanel ul li:hover{
    cursor: pointer;
    backgroup-color: #81CBCE;
}

.public .selectionPanel ul li span{
    font-size: 12px;
}