*{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

.panl{
    overflow: auto;
    width: 100vw;
    height: 100vh;
}

.title{
    height: 29px;
    border-bottom: 1px solid #BCBCBC;
}

.title span{
    line-height: 35px;
    margin-left: 20px;
    color: #547576;
}

.content{
    margin-top: 20px;
}

.content>div{
    float: left;
}

.content .data{
    width: 500px;
    margin-right: 40px;
    margin-left: 40px;
}

.content .data label{
    color: #2B2B2B;
    margin-right: 10px;
}

.content .data input{
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #5E8586;
    padding-left: 10px;
}

.content .data span{
    margin-left: 20px;
    color: #547576;
}

.content .data>div{
    width: 100%;
    border-top: 1px dashed #BCBCBC;
    padding-top: 30px;
}

.content .data div div{
    width: 400px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
}

.content .data div div button{
    width: 100px;
    height: 30px;
    background-color: #75A2A5;
    border: 1px solid #75A2A5;
    border-radius: 3px;
    color: #FFFFFF;
    letter-spacing: 3px;
}

.content .data div div button:hover{
    cursor: pointer;
    background-color: #5E8586;
}

.content .data div div button:first-of-type{
    margin-right: 177px;
}



.content .table{
    min-width: 500px;
    border-left: 1px solid #BCBCBC;
    margin-top: 20px;
}

.content .table ul{
    list-style-type: none;
    margin-left: 35px;
}

.content .table ul li{
    min-height: 30px;
    line-height: 30px;
}

.content .table ul li div:hover{
    cursor: pointer;
    color: #547576;
}

.content .table ul li div:hover span:last-of-type{
    display: inline;
}

.content .table ul li div>i{
    margin-right: 10px;
}

.content .table ul li span:last-of-type{
    display: none;
}

.content .table ul li span:last-of-type i{
    margin-left: 10px;
}

.content .table ul li span:last-of-type i:first-of-type{
    color: #C00000;
}

.content .table ul li span:last-of-type i:last-of-type{
    color: #0070C0;
}