
*{
    padding: 0px;
    margin: 0px;
}

body{
    overflow: hidden;
    background-image: url('../img/login.jpg');
}

.content{
    overflow: auto;
    height: 100vh;
}

.loginPan{
    border-radius: 5px;
    width: 330px;
    height: 350px;
    border: 2px solid #5E8586;
    margin: 20vh 10vw 20vh 70vw;
    background-color: #FFFFFF;
}

.title{
    height: 40px;
    background-color: #5E8586;
    text-align: center;
    line-height: 35px;
    color: #FFFFFF;
}

.form{
    height: 370px;
}

.formCeontent{
    width: 260px;
    margin: 0 auto;
    padding-top: 40px;
}

.formCeontent div{
    width: 100%;
    text-align: right;
    margin-bottom: 40px;
}

.formCeontent div span input{
    width: 190px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #5E8586;
    padding-left: 10px;
}

.formCeontent div button{
    width: 260px;
    height: 35px;
    background-color: #75A2A5;
    border: 1px solid #75A2A5;
    border-radius: 3px;
    color: #FFFFFF;
}

.formCeontent div button:hover{
    cursor: pointer;
    background-color: #5E8586;
}


.reset{
    padding-right: 157px;
}

a{
    font-size: 14px;
    color: #75A2A5;
    text-decoration: none;
}



.registerPal{
    width: 290px;
    margin: 0 auto;
    padding-top: 20px;
    display: none;
}

.registerPal div{
    width: 100%;
    text-align: right;
    margin-bottom: 18px;
}

.registerPal div:last-of-type{
    margin-top: 10px;
}

.registerPal div span input{
    width: 190px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #5E8586;
    padding-left: 10px;
}

.registerPal div button{
    width: 290px;
    height: 35px;
    background-color: #75A2A5;
    border: 1px solid #75A2A5;
    border-radius: 3px;
    color: #FFFFFF;
}

.registerPal div button:hover{
    cursor: pointer;
    background-color: #5E8586;
}